<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/info.css">
        <link rel="stylesheet" type="text/css" href="/header.css">
    </head>
    <% var urlEdit = `edit/${gameID}`; %>
    <% var urlDelete = `delete/${gameID}`; %>
    <header>
        <h1 class="headerName" onclick=<%= `location.href="/"` %> >My Games List</h1>
        <div class="headerButtonsList">
          <%if (pageType == "main") { %>
            <button type="button" onclick=<%= `location.href="add"` %> >Добавить</button>
          <% } %>
    
          <%if (pageType == "info") { %>
            <button type="button" onclick=<%= `location.href="add"` %> >Добавить</button>
            <button type="button" onclick=<%= `location.href=\"${urlDelete}\"` %> >Удалить</button>
            <button type="button" onclick=<%= `location.href=\"${urlEdit}\"` %> >Редактировать</button>
          <% } %>
        </div>
    </header>
    <body>
        <div class="gameInfo"> 
            <h1 class="Name"><%= game.name %></h1> 
            <p><strong>Жанр: </strong><%= game.genre %> </p>
            <p><strong>Разработчик: </strong><%= game.developer %> </p>
            <p><strong>Описание: </strong><%= game.description %> </p>
            <p><strong>Время в игре: </strong><%= game.gameHours %> часов </p>
        </div>
        
        
    </body>
</html>